<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div id="companies_list">
  <%= render "companies/list", objects: @companies %>
</div>

<%= link_to "New company", new_company_path, class: "btn btn-primary" %>
<%= link_to "Go home", root_path, class: "btn btn-warning" %>